<div class="container">
  <div class="col">
    <div class="card">
          <h3 class="card-header">Login</h3>
          <p>Welcome back! 
            <br>
            Please enter you login information to continue.</p>
          <form id="login-form" class="card-body">
            <label class="form-label" for="username-login">Username:</label>
            <input  id="username" type="text" autofocus="true" class="form-input" />

            <label class="form-label" for="password-login">Password:</label>
            <input id="password" type="password" autofocus="true" class="form-input" />

            <button type="submit" class="btn login">Login!</button>
            <button class="btn login"><a class="link" href="/signup">Create an Account</a></button>
          </form>
      </div>
  </div>
</div>

<script src="/javascript/login.js"></script>